

<div class="main">
    
    
    <div class="wrapper1">

        <div class="wrapper">
            <div *ngIf="values.isDay" class="weatherWidgetRow">
                <i class="fas fa-3x fa-sun sun"></i>
            </div>
            <div *ngIf="!values.isDay" class="weatherWidgetRow">
                
                <i class="fas fa-3x fa-moon moon"></i>
            </div>
           
            <div class="wrap">
                <div class="first">{{values.name}}</div>
                 <div class="second">{{day}}  {{date}} <br></div>
                 <div class="third">{{month}} <br></div>
            </div>
             <div class="weatherWidgetRow1">{{values.temp_celcius}}°</div>
             <!-- <div class="weatherWidgetRow">{{values.temp_min}}°/{{values.temp_max}}°</div> -->
               <span style="position: absolute;left:12px;top:58%">-----------------------------</span>
             <!-- <div class="weatherWidgetRow">Humidity:{{values.main.humidity}}%</div> -->
             <div class="weatherWidgetRow2" >Wind:     {{values.wind.speed}}    Km/h<br>Humidity:     {{values.main.humidity}} %</div>
            
             
        </div>
    
        <div class="gifs">
            <div class="gif1" *ngIf="checking==1">
                <img src="https://i.giphy.com/media/vadsqiBwAM18c/giphy.webp" style="width: 200px;height: 200px;">
            </div>
            <div *ngIf="checking==2" class="gif2"></div>
            <div *ngIf="checking==3"class="gif3"></div>
    
        </div>
    </div>
    <div class="text-area">

        <h1>SELECT <span id="changing-text">CITY</span></h1>

    </div>
    <div class="btn-group button" appDropdown>
        <button type="button" class="btn btn-primary dropdown-toggle" style="height: 35px; width: 8em;border-radius: 12px;">CITIES<span class="caret"></span></button>
        <ul class="dropdown-menu">
            <button type="button" (click)="SendingData('Mumbai,in')">Mumbai</button><br>
            <button type="button" (click)="SendingData('Bengaluru,in')">Bengaluru</button><br>
            <button type="button" (click)="SendingData('Pune,in')">Pune</button><br>
            <button type="button" (click)="SendingData('Surat,in')">Surat</button><br>
            <button type="button" (click)="SendingData('Kolkata,in')">Kolkata</button><br>
            <button type="button" (click)="SendingData('Agra,in')">Agra</button><br>
            <button type="button" (click)="SendingData('Noida,in')">Noida</button><br>
            <button type="button" (click)="SendingData('Gurugram,in')">Gurugram</button><br>
            <button type="button" (click)="SendingData('Delhi,in')">Delhi</button><br>
           
        </ul>
    </div>
  

 

</div>


